* {
  box-sizing: border-box;
}

body{
  background: url(https://images.pexels.com/photos/338504/pexels-photo-338504.jpeg?cs=srgb&dl=pexels-thorsten-technoman-338504.jpg&fm=jpg);
  background-size: cover;
}
img{
  width: 200px;
  height: 150px;
  object-fit: cover;
}
#main {
  display: flex;
  justify-content: space-around
}

.form div{
  margin-bottom: 20px;
}

.form input, 
.form select,
.form button{
  display: block;
  width: 100%;
  padding: 10px 5px;
}

.form button {
  background-color: #8A8A8A;
  border: none;
  font-size: 18px;
}
.red{
  color: red;
}

#home{
  display: flex;
}

#hotels img{
  gap: 15px;
  
}

#hotels {
  color: rgb(237, 241, 246);
  text-shadow: #FC0 1px 0 10px;
}

.add{
  color: rgb(237, 241, 246);
  text-shadow: #FC0 1px 0 10px;
}